<div class="convert podcast-top collapsed v-center">
  <div class="container">
      <div class="col-lg-4 collapse-show small">
        <h1>Tech news, condensed, for your ears</h1>
      </div>
      <div class="col-lg-4 col-lg-offset-3 collapse-show form">
        <div class="group signup header fullw">
            <input type="text fullw" required placeholder="owen@char.gd">
            <button type="button" class="signup-button btn btn-primary">Submit</button>
        </div>
      </div>
    <div class="row collapse-hide">
      <div class="col-lg-12 center collapse-hide">
        <h1>Tech news, condensed, for your ears</h1>
      </div>
    </div>
    <div class="row copy collapse-hide">
      <div class="col-lg-6 col-lg-offset-3 center collapse-hide">
        <p>Thousands of people listen to Charged podcast every week to get the latest technology news and why it matters – in 60 minutes or less. Hosted by Owen WIlliams and John Edgar, Charged Podcast tackles the issues worth discussing each week – but doesn't waste your time.</p>
      </div>
      <div class="col-lg-4 col-lg-offset-4 center" style="margin-top:40px;">
          <div class="group signup fullw">
            <input type="text fullw" required>
            <span class="bar fullw"></span>
            <label>Email address</label>
            <button type="button" class="signup-button btn btn-primary">Submit</button>
          </div>
      </div>
    </div>
  </div>
  <div class="close-modal">
    <a id="close" href="#"><img src="/assets/images/collapse-w.svg"></a>
  </div>
</div>