{% include footer-convert.html %}
<footer class="site-footer">
<div class="container">
  <div class="row">
    <div class="col-lg-8 col-lg-offset-2 footer-border">
      <ul class="footer-menu">
        <li><a href="/">Home</a></li>
        <li><a href="/podcast">Podcast</a></li>
        <li><a href="/about">About</a></li>
        <li><a href="mailto:owen@char.gd">Say Hi</a></li>
        <li><a href="{{ "/feed.xml" | prepend: site.baseurl }}">RSS</a></li>
        <li><a href="http://twitter.com/ow">@ow</a></li>
      </ul>
    </div>
  </div>
</div>
</footer>
