<div class="convert podcast-top v-center footer-convert-podcast">
  <div class="container">
    <div class="row">
      <div class="col-lg-12 center">
        <h1>Never miss a thing</h1>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-4 col-lg-offset-4 center" style="margin-top:40px;">
          <div class="group signup fullw">
            <input type="text fullw" required>
            <span class="highlight fullw"></span>
            <span class="bar fullw"></span>
            <label>Email address</label>
          </div>
      </div>
    </div>
    <div class="row copy">
      <div class="col-lg-6 col-lg-offset-3 center">
        <div class="testimonial">
          <p>“Owen does a great job of summarizing tech news highlights of the week with some personality and a little bit of serendipity."</p>
          <p class="attribute">Ryan Hoover, Product Hunt</p>
        </div>
      </div>
    </div>
  </div>
</div>