.convert {
  background-image: linear-gradient(-226deg, #E43A54 0%, #E43E3A 100%);
  height: 490px;
  color: white;

  h1 {
    color: white;
  }

  .signup-button {
    position: absolute;
    right: 5px;
    top: 5px;
    font-weight: 700;
    background: transparent;
    border: none;
  }

  .copy {
    margin-top: 50px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;

    .testimonial {
      font-size: 16px;
      margin-top: 15px;
      padding-left: 15px;
      p {
        margin-top: -5px;
      }

      .attribute {
        text-transform: uppercase;
      }
    }
  }

  .signup {

    .group            {
      position:relative;

      margin-bottom:45px;
    }
    input               {
      font-size:18px;
      padding:10px 10px 10px 5px;
      display:block;
      width: 100%;
      border:none;
      border-bottom:1px solid white;
      background: transparent;
    }
    input:focus         { outline:none; }

    /* LABEL ======================================= */
    label                {
      color:white;
      font-size:18px;
      font-weight:normal;
      position:absolute;
      pointer-events:none;
      left:20px;
      top:10px;
      transition:0.2s ease all;
      -moz-transition:0.2s ease all;
      -webkit-transition:0.2s ease all;
    }

    /* active state */
    input:focus ~ label, input:valid ~ label        {
      top:-20px;
      font-size:14px;
      color:white;
    }

    /* BOTTOM BARS ================================= */
    .bar    { position:relative; display:block; width:100%; }
    .bar:before, .bar:after     {
      content:'';
      height:2px;
      width:0;
      bottom:1px;
      position:absolute;
      background:white;
      transition:0.2s ease all;
      -moz-transition:0.2s ease all;
      -webkit-transition:0.2s ease all;
    }
    .bar:before {
      left:50%;
    }
    .bar:after {
      right:50%;
    }

    /* active state */
    input:focus ~ .bar:before, input:focus ~ .bar:after {
      width:50%;
    }

    /* HIGHLIGHTER ================================== */
    .highlight {
      position:absolute;
      height:60%;
      width:100px;
      top:25%;
      left:0;
      pointer-events:none;
      opacity:0.5;
    }

    /* active state */
    input:focus ~ .highlight {
      -webkit-animation:inputHighlighter 0.3s ease;
      -moz-animation:inputHighlighter 0.3s ease;
      animation:inputHighlighter 0.3s ease;
    }

    /* ANIMATIONS ================ */
    @-webkit-keyframes inputHighlighter {
        from { background:#5264AE; }
      to    { width:0; background:transparent; }
    }
    @-moz-keyframes inputHighlighter {
        from { background:#5264AE; }
      to    { width:0; background:transparent; }
    }
    @keyframes inputHighlighter {
        from { background:#5264AE; }
      to    { width:0; background:transparent; }
    }
  }
}

.convert-podcast {
  @extend .convert;

  background-image: linear-gradient(-209deg, #2C6DFF 0%, #453AE4 100%);

  h1 {
    color: White;
    background-image: none;
    -webkit-text-fill-color: white;
  }
}

.collapsed {
  height: 40px;
  transition: all 0.5s ease;

  .collapse-hide {
    display: none;
  }
}