.convert {
  background-image: linear-gradient(-226deg, #E43A54 0%, #E43E3A 100%);
  height: 490px;
  transition: all 0.5s ease;
  color: white;

  h1 {
    color: white;
  }

  .signup-button {
    position: absolute;
    right: 5px;
    top: 5px;
    font-weight: 700;
    background: transparent;
    border: none;
  }

  .collapse-hide {
    display: none;
  }

  .collapse-show {
    display: none;
  }

  .copy {
    margin-top: 50px;
    font-size: 18px;
    line-height: 30px;
    font-weight: 300;

    .testimonial {
      font-size: 16px;
      margin-top: 15px;
      padding-left: 15px;
      p {
        margin-top: -5px;
      }

      .attribute {
        text-transform: uppercase;
      }
    }
  }

  .signup {
    .group            {
      position:relative;

      margin-bottom:45px;
    }
    input               {
      font-size:18px;
      padding:10px 10px 10px 5px;
      display:block;
      width: 100%;
      border:none;
      border-bottom:1px solid white;
      background: transparent;
    }
    input:focus         { outline:none; }

    /* LABEL ======================================= */
    label                {
      color:white;
      font-size:18px;
      font-weight:normal;
      position:absolute;
      pointer-events:none;
      left:20px;
      top:10px;
      transition:0.2s ease all;
      -moz-transition:0.2s ease all;
      -webkit-transition:0.2s ease all;
    }

    /* active state */
    input:focus ~ label, input:valid ~ label        {
      top:-20px;
      font-size:14px;
      color:white;
    }

    /* BOTTOM BARS ================================= */
    .bar    { position:relative; display:block; width:100%; }
    .bar:before, .bar:after     {
      content:'';
      height:2px;
      width:0;
      bottom:1px;
      position:absolute;
      background:white;
      transition:0.2s ease all;
      -moz-transition:0.2s ease all;
      -webkit-transition:0.2s ease all;
    }
    .bar:before {
      left:50%;
    }
    .bar:after {
      right:50%;
    }

    /* active state */
    input:focus ~ .bar:before, input:focus ~ .bar:after {
      width:50%;
    }

    /* HIGHLIGHTER ================================== */
    .highlight {
      position:absolute;
      height:60%;
      width:100px;
      top:25%;
      left:0;
      pointer-events:none;
      opacity:0.5;
    }

    /* active state */
    input:focus ~ .highlight {
      -webkit-animation:inputHighlighter 0.3s ease;
      -moz-animation:inputHighlighter 0.3s ease;
      animation:inputHighlighter 0.3s ease;
    }

    /* ANIMATIONS ================ */
    @-webkit-keyframes inputHighlighter {
        from { background:#5264AE; }
      to    { width:0; background:transparent; }
    }
    @-moz-keyframes inputHighlighter {
        from { background:#5264AE; }
      to    { width:0; background:transparent; }
    }
    @keyframes inputHighlighter {
        from { background:#5264AE; }
      to    { width:0; background:transparent; }
    }
  }

      .form {
      margin-top: 10px;
    }

  .header {


    .signup-button {
      background: white;
      border-radius: 0px;
      color: $brand-primary;
      right: 15px;
      top: 0px;
    }

    input {
      border-bottom: 3px solid white;
      font-size: 14px;
      padding: 10px 10px 5px 5px;
      &::placeholder {
        font-size: 14px;
        color: white;
      }
    }
  }
}

.podcast-top {
  .header {
    .signup-button {
      color: #453AE4;
    }
}

  background-image: linear-gradient(-209deg, #2C6DFF 0%, #453AE4 100%);

  h1 {
    color: White;
    background-image: none;
    -webkit-text-fill-color: white;
  }
}

.small {
  h1 {
    font-size: 18px;
  }
}

.collapsed {
  height: 60px;
  transition: all 0.5s ease;
  display: block !important;

  h1 {
    line-height: 60px;
  }

  .collapse-show {
    display: none;
  }

  .close-modal {
    transform: rotate(180deg);
    transition: all 0.5s ease;
  }
}

/* Make clicks pass-through */
#nprogress {
  pointer-events: none;
}

#nprogress .bar {
  background: #29d;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}

/* Fancy blur effect */
#nprogress .peg {
  display: block;
  position: absolute;
  right: 0px;
  width: 100px;
  height: 100%;
  box-shadow: 0 0 10px #29d, 0 0 5px #29d;
  opacity: 1.0;

  -webkit-transform: rotate(3deg) translate(0px, -4px);
      -ms-transform: rotate(3deg) translate(0px, -4px);
          transform: rotate(3deg) translate(0px, -4px);
}

/* Remove these to get rid of the spinner */
#nprogress .spinner {
  display: block;
  position: fixed;
  z-index: 1031;
  top: 15px;
  right: 15px;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: #29d;
  border-left-color: #29d;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
          animation: nprogress-spinner 400ms linear infinite;
}

.nprogress-custom-parent {
  overflow: hidden;
  position: relative;
}

.nprogress-custom-parent #nprogress .spinner,
.nprogress-custom-parent #nprogress .bar {
  position: absolute;
}

@-webkit-keyframes nprogress-spinner {
  0%   { -webkit-transform: rotate(0deg); }
  100% { -webkit-transform: rotate(360deg); }
}
@keyframes nprogress-spinner {
  0%   { transform: rotate(0deg); }
  100% { transform: rotate(360deg); }
}

