h1, h2, h3 {
  font-family: $h-stack;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 50px;
  color: $brand-primary;
}

p, body {
  font-family: $p-stack;
}

.muted {
  color: #949494;
}

.center {
  text-align: center;
}

.v-center {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;
}

.podcast {
  a, .sidebar h1 {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-image: linear-gradient(-209deg, #2C6DFF 0%, #453AE4 100%);
  }
}

a:hover {
  text-decoration: none;
}

.uppercase {
  text-transform: uppercase;
}