h1, h2, h3 {
  font-family: $h-stack;
  font-weight: 700;
  letter-spacing: 1px;
  font-size: 50px;
  color: $brand-primary;
}

p, body {
  font-family: $p-stack;
}

.muted {
  color: #949494;
}

.center {
  text-align: center;
}

.v-center {
  display: -ms-flexbox;
  display: -webkit-flex;
  display: flex;

  -ms-flex-align: center;
  -webkit-align-items: center;
  -webkit-box-align: center;

  align-items: center;
}

.podcast {
  p a, .sidebar h1 {
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    color: #453AE4;
    background-image: -webkit-linear-gradient(-209deg, #2C6DFF 0%, #453AE4 100%);
  }

  h2:hover {
   background: -webkit-linear-gradient(-209deg, #B22CFF 0%, #453AE4 100%);
   -webkit-background-clip: text;
   color: #453AE4;
   background-clip: text;
   -webkit-text-fill-color: transparent;
   text-decoration: none;
  }
}

a:hover {
  text-decoration: none;
}

.uppercase {
  text-transform: uppercase;
}

#nprogress .spinner-icon {
  width: 18px;
  height: 18px;
  box-sizing: border-box;

  border: solid 2px transparent;
  border-top-color: white !important;
  border-left-color: white !important;
  border-radius: 50%;

  -webkit-animation: nprogress-spinner 400ms linear infinite;
          animation: nprogress-spinner 400ms linear infinite;
}

#nprogress .spinner {
  left: 15px !important;
  top: 20px !important;
  right: auto;
}

#nprogress .bar {
  background: white !important;

  position: fixed;
  z-index: 1031;
  top: 0;
  left: 0;

  width: 100%;
  height: 2px;
}