article {
  margin-top: 60px;
}

.featured {
  margin-top: 20px;
  margin-bottom: 10px;
  max-width: 110%;
  margin-left: -5%;

  .post {
    margin-bottom: 50px;
  }
}

.fullw {
  width: 100%;
}

.home {
  margin-top: 100px;
  .post-contain {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .excerpt {
    margin-top: 25px;
  }
}


.podcast {
  h1, h2 {
    color: $podcast-primary;
  }

  a {
    color: $podcast-primary;

    &:hover {
      color: $brand-primary !important;
    }
  }
}

.post h2 {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 5px !important;
  background-image: linear-gradient(-226deg, #E43A54 0%, #E43E3A 100%);
      &:hover {
   background: linear-gradient(-209deg, #B22CFF 0%, #453AE4 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   text-decoration: none;
  }
}

.separator {
  margin-top: 40px;
  margin-bottom: 40px;
  padding-left: 100px;
  padding-right: 100px;
}

.upsell {
  .muted {
    text-transform: uppercase;
    font-size: 14px;
  }

  .logo {
    text-align: center;
    margin-top: 20px;
    img {
      height: 20px;
      width: auto;
    }
  }
}