article {
  margin-top: 60px;

  a:hover {
    background: linear-gradient(-209deg, #B22CFF 0%, #453AE4 100%);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
  }
}

.featured {
  margin-top: 20px;
  margin-bottom: 10px;
  max-width: 110%;
  margin-left: -5%;

  .post {
    margin-bottom: 50px;
  }
}

.fullw {
  width: 100%;
}

.home {
  margin-top: 100px;
  .post-contain {
    margin-top: 100px;
    margin-bottom: 100px;
  }

  .excerpt {
    margin-top: 25px;
  }
}


.podcast {
  h1, h2 {
    color: $podcast-primary;
  }

  a {
    color: $podcast-primary;
  }
}

.post h2 {
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  padding-bottom: 5px !important;
  background-image: linear-gradient(-226deg, #E43A54 0%, #E43E3A 100%);
      &:hover {
   background: linear-gradient(-209deg, #B22CFF 0%, #453AE4 100%);
   -webkit-background-clip: text;
   -webkit-text-fill-color: transparent;
   text-decoration: none;
  }
}