p, ul {
  line-height: 35px;
  font-size: 18px;
}

.close-modal {
  position: absolute;
  top: 20px;
  right: 20px;

  img {
  height: 18px;
  width: 18px;
  }
  transition: all 0.5s ease;

  svg {
    fill: white;
  }
}

.sidebar {
  position: absolute;
  left: 40px;
  margin-top: 100px;
      z-index: 100;

  h1 {
    color: $brand-primary;
    font-size: 24px;
    padding-bottom: 2px;
  }

  ul {
    list-style: none;
    padding-left: 0px;
    margin-top: 10px;
    li {
      margin-bottom: 10px;
    }
  }

  .muted {
    padding-bottom: 10px;
  }
}

.footer-convert {
  margin-top: 70px;
  padding-bottom: 115px;
  padding-top: 50px;
  height: auto !important;
}

.site-footer {
    margin-top: -70px;
}

.footer-menu {
  text-align: center;
  color: white;
  border-top: 1px solid white;
  padding-top: 20px;

  li {
    display: inline;
    padding: 20px 60px 20px 0px;
  }

  a {
    color: white !important;
  }
}

.sidebar {
  .active {
    border-left: 3px solid $brand-primary;
    padding-left: 10px;
  }

  .podcast-line {
    border-left: 3px solid $podcast-primary;
  }
}

.videoWrapper {
  position: relative;
  padding-bottom: 56.25%; /* 16:9 */
  padding-top: 25px;
  height: 0;
  margin-bottom: 15px;
}
.videoWrapper iframe {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

#sticky.stick {
    margin-top: 20px !important;
    position: fixed;
    top: 0;
    z-index: 10000;
}