 @media only screen and (max-width : 996px) {
   .sidebar {
      position: inherit;
      margin-top: 40px;
      text-align: center;
      left: 0px;

      .brand {
        font-size: 42px;
      }

      .muted {
        display: none;
      }

      ul {
        padding-left: 30px;
        padding-right: 30px;
      }
      li {
        display: inline-block;
        margin-right: 20px;
        font-size: 22px !important;
      }
    }
 }
 @media only screen and (max-width : 480px) {

   .pull {
     margin-left: 10px;
     margin-right: 10px;
     font-size: 18px;
   }
  .post-content {
  img {
    max-width: 100%;
    height: auto;
    margin: auto;
  }
  }

  .convert {
    .podcast {
      margin-top: 15px;
    }
  }

  h1 {
    font-size: 36px;
  }

  .post h2, .podcast h2 {
    font-size: 32px;
  }

  .form {
    display: none !important;
    }

    .sidebar {
      position: inherit;
      margin-top: 40px;
      text-align: center;
      left: 0px;

      .brand {
        font-size: 42px;
      }

      .muted {
        display: none;
      }

      ul {
        padding-left: 30px;
        padding-right: 30px;
      }
      li {
        display: inline-block;
        margin-right: 20px;
        font-size: 19px !important;
      }
    }

    .site-footer {
      display: none;
    }

    .convert {
      padding-top: 40px;
      padding-bottom: 40px;
      height: auto;
    }

    .collapsed {
      height: 60px;
      padding-top: 0px;
    }

    .soundcloud-holder {
      margin-left: 5px;
      margin-right: 5px;
    }
  }
