.post-page {
  padding-top: 40px;
  padding-bottom: 100px;

  h1 {
    margin-bottom: 50px;
  }

  .post-image {
    margin-top: -25px;
    margin-bottom: 25px;
  }
}

.soundcloud-holder {
  margin-left: -100px;
  margin-right: -100px;
  margin-bottom: 50px;
}

.pull-right {
  text-align: right;
}

.paginate {
  padding-top: 40px;
  padding-bottom: 40px;
}

.authors {
  margin-top: 30px;
  margin-bottom: 30px;

  .bold {
    font-weight: 700;
  }

  p {
    font-size: 15px;
    line-height: 26px;
    }

  .dp {
    width: 60px;
    margin-bottom: 10px;
  }
}