// Glyphicons font path
$icon-font-path:        "../fonts/";

// Grid settings
$main-sm-columns:       12;
$sidebar-sm-columns:    4;

// Colors
$brand-primary: #E43E3A;
$podcast-primary: #453AE4;
$p-stack: 'Source Sans Pro';
$h-stack: 'Playfair Display';