---
layout: home
image: /assets/images/OG-image.png
description: "A weekly technology newsletter and podcast that gives you the best of tech news, without the fluff. Delivered directly to your inbox - or iTunes - for free."
---
<div class="contents">
  <div class="col-lg-6 col-lg-offset-3">
    <div class="home">
      {% for post in site.posts %}
        <div class="post-contain {% if post.type == 'post' %}post{% elsif post.type=='podcast'%}podcast{%endif%}">
          <a class="post-link" href="{{ post.url | prepend: site.baseurl }}"><h2>{{ post.title }}</h2></a>
          {%if post.featured%}
          <img class="featured" src="{{post.featured}}">
          {% endif %}
          <p class="excerpt">{{post.description}}</p>
          <div class="length" id="length-{{forloop.index}}">
            <p>{{ post.date }}</p>
          </div>
        </div>
      {% endfor %}
    </div>
    <div class="separator">
      <hr>
    </div>
  </div>
  <div class="col-lg-6 col-xs-12 col-lg-offset-3">
    <div class="upsell center">
      <p class="muted">Keep up with the latest and join people from these smart companies</p>
    </div>
  </div>
  <div class="col-lg-12 col-xs-12 upsell">
      <div class="col-lg-2 col-xs-6 col-lg-offset-1 logo">
        <img src="/assets/images/logos/do.png" />
      </div>
      <div class="col-lg-2 col-xs-6 logo">
        <img src="/assets/images/logos/ms.png" />
      </div>
      <div class="col-lg-2 col-xs-6 logo">
        <img src="/assets/images/logos/tw.png" />
      </div>
      <div class="col-lg-2 col-xs-6 logo">
        <img src="/assets/images/logos/spotify.png" />
      </div>
      <div class="col-lg-2 col-xs-6 logo">
        <img src="/assets/images/logos/go.png" />
      </div>
  </div>
</div>