---
layout: default-email
---
<div class="contents">
  <article class="post-page" itemscope itemtype="http://schema.org/BlogPosting">
  <div class="">
    <div class="row">
      <div class="col-lg-6 col-lg-offset-3">
        <header class="post-header">
          <p><a href="/newsletters">< Back to archive page</a></p>
          <span class="post-meta muted uppercase"><time datetime="{{ page.date | date_to_xmlschema }}" itemprop="datePublished">{{ page.title }} <br> Sent to subscribers on {{ page.date | date: "%b %-d, %Y" }}</time>{% if page.author %} • <span itemprop="author" itemscope itemtype="http://schema.org/Person"><span itemprop="name">{{ page.author }}</span></span>{% endif %}</span>
        </header>
        {%if page.featured%}
          <img class="featured post-image" src="{{page.featured}}">
        {% endif %}
        <div class="soundcloud-holder">{{ page.soundcloud }}</div>
      </div>
    </div>
    <div class="row">
      <div class="col-lg-12">
        <div class="post-content email-container" itemprop="articleBody">
          {{ content }}
        </div>
      </div>
      <div class="col-lg-12">
        <p class="center"><a href="/newsletters">< Back to archive page</a></p>
      </div>
  </div>
  </article>
</div>