---
layout: podcast
tags: podcast
paginate:
  collection: podcasts
  reversed: true
  per_page: 5
  permalink: /:num/
---
<div class="contents">
<div class="col-lg-6 col-lg-offset-3">
  <div class="home">
    {% for podcast in paginator.podcasts %}
      <div class="post-contain {% if podcast.type == 'post' %}post{% elsif podcast.type=='podcast'%}podcast{%endif%}">
        <a class="post-link" href="{{ podcast.url | prepend: site.baseurl }}"><h2>{{ podcast.title }}</h2></a>
        {%if podcast.featured%}
        <img class="featured" src="{{post.featured}}">
        {% endif %}
        <p class="excerpt">{{podcast.excerpt}}</p>
      </div>
    {% endfor %}
  </div>
</div>
  <div class="col-lg-3 col-lg-offset-3 paginate">
    {% if paginator.next_page_path != null %}
      <a href="{{paginator.next_page_path}}">< Older podcasts</a>
    {% endif %}
  </div>
  <div class="col-lg-3 pull-right paginate">
    {% if paginator.previous_page_path != null %}
    <a class="newer" href="{{paginator.previous_page_path}}">Newer podcasts ></a>
    {% endif %}
  </div>
</div>