---
layout: home
---
<div class="home">

  {% for post in site.posts %}
    {% if post.type == "podcast" %}

    {% else %}
      <div class="post-contain {% if post.type == 'post' %}post{% elsif post.type=='podcast'%}podcast{%endif%}">
        <a class="post-link" href="{{ post.url | prepend: site.baseurl }}"><h2>{{ post.title }}</h2></a>
        {%if post.featured%}
        <img class="featured" src="{{post.featured}}">
        {% endif %}
        <p class="excerpt">{{post.excerpt}}</p>
      </div>
    {% endif %}
  {% endfor %}

  <p class="rss-subscribe">subscribe <a href="{{ "/feed.xml" | prepend: site.baseurl }}">via RSS</a></p>
</div>
