---
layout: podcast
paginate:
  collection: podcasts
  reversed: true 
  per_page: 5
  permalink: /podcast/:num/
---
<div class="contents">
<div class="col-lg-6 col-lg-offset-3">
  <div class="home">
    {% for podcast in paginator.podcasts %}
      <div class="post-contain {% if podcast.type == 'post' %}post{% elsif podcast.type=='podcast'%}podcast{%endif%}">
        <a class="post-link" href="{{ podcast.url | prepend: site.baseurl }}"><h2>{{ podcast.title }}</h2></a>
        {%if podcast.featured%}
        <img class="featured" src="{{post.featured}}">
        {% endif %}
        <p class="excerpt">{{podcast.excerpt}}</p>
      </div>
    {% endfor %}

    <a href="{{paginator.next_page_path}}">Next page ></a>
  </div>
</div>
</div>